.App {
  position: absolute;
  width: 100%;
  background-color:#e3f1fe;
  padding-bottom: 20px;
}
.button{
  width:100px;
  height: 25px;
  padding:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: .7rem;
  color: black;
  font-weight: 600;
  cursor: pointer;
}